<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="PowerChurch"
         providerName="VFPOLEDB.1"
         connectionString="Provider=VFPOLEDB.1;Data Source=B:\PowerChurch\data;Collating Sequence=MACHINE"
    />
    <add name="SqlServer"
         providerName="System.Data.ProviderName"
         connectionString="Data Source=OMAADH3;Initial Catalog=PCPlus12;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
    />
  </connectionStrings>
</configuration>